<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsw.groupware.mapper.DocumentMapper">
    
    <select id="getFormList" resultType="com.bsw.groupware.model.ApprovalFormVO">
        SELECT 
            FORM_ID as formId,
            FORM_NM as formNm
        FROM IA_DOC_FRM_TN
    </select>
    
    <select id="getContents">
        SELECT 
        	CONTENTS
        FROM 
        	IA_DOC_FRM_TN 
    	WHERE 
    		FORM_ID = #{formId}
    </select>
    
    <select id="getApprLine" resultType="com.bsw.groupware.model.UserVO">
	    SELECT
		    SEQ,
		    CASE
		        WHEN NAVER_USER = 1 THEN 'SSO(NAVER 사용자)'
		        WHEN KAKAO_USER = 1 THEN 'SSO(KAKAO 사용자)'
		        ELSE USER_ID
		    END AS USER_ID,
		    USER_PW as password,
		    USER_NAME as name,
		    USER_NICK as nickname,
		    USER_DEPT as dept,
		    USER_JOB_POSITION as position,
		    EMAIL as email,
		    PHONE as phone,
		    NAVER_USER as naverUser,
		    KAKAO_USER as kakaoUser,
		    USER_IP,
		    REGIST_DT,
		    UPDT_DT
		FROM IA_USER_TN
		WHERE USER_DEPT = (SELECT USER_DEPT FROM IA_USER_TN WHERE USER_ID = #{userId})
    </select>
    
    <insert id="insertFile">
    	INSERT INTO FILE_METADATA(FILE_ID, ORIGINAL_FILENAME, STORED_FILENAME, UPLOAD_DATE, SUBMITTER_ID, FILE_PATH)
        VALUES (#{fileId}, #{originalFilename}, #{storedFilename}, #{uploadDate}, #{submitterId}, #{filePath})
    </insert>
    
    <insert id="submit">
    	INSERT INTO IA_APPR_DOC_TN(
								    SUBMITTER,
								    SUBMITTER_ID,
								    APPROVER,
								    APPROVER_ID,
								    SUBJECT,
								    RESULT_STATUS,
								    DOCUMENT_NO,
								    FILE_ID,
								    CONTENTS,
								    COMMENT,
								    REGIST_USER_ID,
								    REGIST_DT
								) VALUES (
								    #{submitter},
								    #{submitterId},
								    #{approver},
								    #{approverId},
								    #{subject},
								    #{resultStatus},
								    #{documentNo},
								    #{fileId},
								    #{contents},
								    #{comment},
								    #{submitterId},
								    NOW()
								);
    </insert>
    
	<select id="selectApprovalList" parameterType="map" resultType="com.bsw.groupware.model.ApprDocVO">
	    SELECT 
	        SUBMITTER AS submitter, 
	        SUBMITTER_ID AS submitterId, 
	        APPROVER AS approver, 
	        APPROVER_ID AS approverId, 
	        SUBJECT AS subject, 
	        RESULT_STATUS AS resultStatus, 
	        DOCUMENT_NO AS documentNo, 
	        FILE_ID AS fileId, 
	        CONTENTS AS contents, 
	        COMMENT AS comment, 
	        APPROVER_COMMENT AS approverComment, 
	        REGIST_DT AS registDt
	    FROM IA_APPR_DOC_TN
	    WHERE 1=1
	    <if test="action == 'approval'">
	        AND RESULT_STATUS = 'submit'
	        AND APPROVER_ID = #{user}
	    </if>
	    <if test="action == 'approved'">
	        AND RESULT_STATUS = 'approved'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'proceed'">
	        AND RESULT_STATUS = 'submit'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'returend'">
	        AND RESULT_STATUS = 'returened'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'cancel'">
	        AND RESULT_STATUS = 'cancel'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    ORDER BY REGIST_DT DESC
    	LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select id="countApprovalList" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM IA_APPR_DOC_TN 
	    WHERE 1=1
	    <if test="action == 'approval'">
	        AND RESULT_STATUS = 'submit'
	        AND APPROVER_ID = #{user}
	    </if>
	    <if test="action == 'approved'">
	        AND RESULT_STATUS = 'approved'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'proceed'">
	        AND RESULT_STATUS = 'submit'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'returend'">
	        AND RESULT_STATUS = 'returened'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'cancel'">
	        AND RESULT_STATUS = 'cancel'
	        AND SUBMITTER_ID = #{user}
	    </if>
	</select>
	    
    <select id="getDetailContents" resultType="com.bsw.groupware.model.ApprDocVO">
	    SELECT 
	        SUBMITTER AS submitter, 
	        SUBMITTER_ID AS submitterId, 
	        APPROVER AS approver, 
	        APPROVER_ID AS approverId, 
	        SUBJECT AS subject, 
	        RESULT_STATUS AS resultStatus, 
	        DOCUMENT_NO AS documentNo, 
	        FILE_ID AS fileId, 
	        CONTENTS AS contents, 
	        COMMENT AS comment, 
	        APPROVER_COMMENT AS approverComment, 
	        REGIST_DT AS registDt
	    FROM IA_APPR_DOC_TN
    	WHERE 
    		DOCUMENT_NO = #{documentNo}
    </select>
    
    <select id="getFileData" resultType="com.bsw.groupware.model.FileMetadata">
    
    	SELECT 	file_id as fileId,
			    original_filename as originalFilename,
			    stored_filename as storedFilename,
			    upload_date as uploadDate,
			    submitter_id as submitterId,
			    file_path as filePath
			FROM file_metadata
		WHERE FILE_ID = #{fileId};
    
    </select>
    
    <select id="getFileDataById" resultType="com.bsw.groupware.model.FileMetadata">
    	SELECT 	file_id as fileId,
			    original_filename as originalFilename,
			    stored_filename as storedFilename,
			    upload_date as uploadDate,
			    submitter_id as submitterId,
			    file_path as filePath
			FROM file_metadata
		WHERE FILE_ID = #{fileId}
		AND original_filename = #{fileNm};
    </select>
    
    <update id="updtDocument">
    	UPDATE IA_APPR_DOC_TN
    	SET APPROVER_COMMENT = #{comment},
    		RESULT_STATUS = #{resultStatus}
   		WHERE DOCUMENT_NO = #{documentNo}
    </update>
    
    <select id="countByStatus" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM IA_APPR_DOC_TN 
	    WHERE 1=1
	    <if test="action == 'approval'">
	        AND RESULT_STATUS = 'submit'
	        AND APPROVER_ID = #{user}
	    </if>
	    <if test="action == 'approved'">
	        AND RESULT_STATUS = 'approved'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'proceed'">
	        AND RESULT_STATUS = 'submit'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'returend'">
	        AND RESULT_STATUS = 'returened'
	        AND SUBMITTER_ID = #{user}
	    </if>
	    <if test="action == 'cancel'">
	        AND RESULT_STATUS = 'cancel'
	        AND SUBMITTER_ID = #{user}
	    </if>
	</select>
    
</mapper>