<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsw.groupware.mapper.LoginMapper">
    
    <select id="getCheckUserId">
    	SELECT COUNT(*) FROM IA_USER_TN WHERE USER_ID = #{userId}
    </select>
    
    <insert id="saveUser" parameterType="HashMap">
    	INSERT INTO IA_USER_TN (
 			USER_ID, 
 			USER_PW, 
 			USER_NAME, 
 			USER_NICK, 
 			USER_DEPT, 
 			USER_JOB_POSITION, 
 			EMAIL, 
 			PHONE,
 			NAVER_USER,
 			KAKAO_USER, 
 			USER_IP, 
 			REGIST_DT
 		) VALUES (
 			#{user_id},
 			#{password},
 			#{name},
 			#{nickname},
 			#{dept},
 			#{position},
 			#{email},
 			#{phone},
 			#{naverUser},
 			#{kakaoUser},
 			#{user_ip},
 			NOW()
		)
    </insert>
    
    <select id="findByUsername">
    	SELECT
			SEQ, 	
			USER_ID, 
			USER_PW as password,
			USER_NAME as name,
			USER_NICK as nickname,
			USER_DEPT as dept, 
			USER_JOB_POSITION as position, 
			EMAIL as eamil, 
			PHONE as phone,
			NAVER_USER as naverUser,
			KAKAO_USER as kakaoUser, 
			USER_IP, 
			REGIST_DT, 
			UPDT_DT
		FROM IA_USER_TN
        WHERE USER_ID = #{username}
    </select>
</mapper>